.container {
  display: flex;
  justify-content: space-between; /* распределяет элементы по краям */
  align-items: center;
  padding: 20px;
}
.aboutSection {
  display: flex;
}
.arrow1Button div {
  position: relative;
  top: 10px;
  width: 45px; /* Уменьшили с 90px */
  height: 5px;
  background-color: #cc0000;
  box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}
.arrow1Button {
  cursor: pointer;
  width: 40px;
  height: 25px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: transform 0.3s ease;
  margin-left: 44%;
}
.arrow1Button:hover {
  transform: scale(1.15); /* Увеличиваем эффект при наведении */
}

.arrow1Button:active {
  transform: scale(1); /* Убираем эффект увеличения при клике */
}
.arrow1Button div::after {
  content: "";
  position: absolute;
  width: 20px; /* Уменьшили с 40px */
  height: 5px;
  top: -5.5px;
  right: -4px;
  background-color: #cc0000;
  transform: rotate(45deg);
}

.arrow1Button div::before {
  content: "";
  position: absolute;
  width: 20px; /* Уменьшили с 40px */
  height: 5px;
  top: 5.5px;
  right: -4px;
  background-color: #cc0000;
  box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
.advantagesSection {
  display: flex;
  /* margin-left: 52%; */
  align-items: center;
  width: max-content;
  margin-top: -121px;
}
.advantagesSection p {
  font-size: 30px;
  color: blue;
  /* width: 70%; */
  margin-left: 25px;
  margin-top: 45px;
}
.textImageWrapper {
  /* display: flex; */
  border-radius: 5px;
  padding: 50px;
  gap: 20px;
  align-items: center;
  width: 70%;
  margin-right: 10%;
}
.title {
  margin-top: 0px;
  margin-bottom: 30%;
  color: #cc0000;
  width: 15%;
}

.image {
  width: 30%;
  height: 30%;
}

.aboutText {
  bottom: 10px;
  width: 70%;
  font-size: 25px;
}
.section {
  height: 600px;
}

.arrow1:hover {
  transform: scale(1.15); /* Увеличиваем эффект при наведении */
}

.arrow1:active {
  transform: scale(1); /* Убираем эффект увеличения при клике */
}

.arrow1 {
  cursor: pointer;
  width: 40px;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  transition: transform 0.3s ease;
  /* margin-top: 18%; */
  /* margin-left: 7%; */
}

.arrow1 div {
  position: relative;
  top: 10px;
  width: 45px; /* Уменьшено с 90px */
  height: 5px;
  background-color: #cc0000;
  box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.2);
  left: 0;
  display: block;
}

.arrow1 div::after {
  content: "";
  position: absolute;
  width: 20px; /* Уменьшено с 40px */
  height: 5px;
  top: -5.5px;
  right: -4px;
  background-color: #cc0000;
  transform: rotate(45deg);
}

.arrow1 div::before {
  content: "";
  position: absolute;
  width: 20px; /* Уменьшено с 40px */
  height: 5px;
  top: 5.5px;
  right: -4px;
  background-color: #cc0000;
  box-shadow: 0 1.5px 2.5px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  border: 2px solid #cc0000;
  min-width: 300px;
  max-width: 500px;
  position: relative;
  text-align: center;
}
.aboutTextMore {
  font-size: 25px;
  text-align: left;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 10px;
  }

  .title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .image {
    width: 90%;
    height: 50%;
    top: 10%;
    left: 5%;
  }

  .aboutText {
    position: static;
    width: 90%;
    margin: 60% auto 10px;
    text-align: center;
  }

  .section {
    height: auto;
    min-height: 100vh;
  }
}
@media (min-width: 1500px) {
  .image {
    width: 30%;
  }
  .aboutText {
    font-size: 30px;
  }
}
